/AgencyService/log
/ConsultingTypeService/log
/ConsultingTypeService/consulting-type-settings
/UserService/log
/UserService/import
/MessageService/log
/MailService/log
/UploadService/log
/VideoService/log
/nginx/log
/frontend/log
/RabbitMQ/logs
/RabbitMQ/mnesia
www
/OpenLDAP/slapd.d
/Rocket.Chat/avatar_uploads
/Rocket.Chat/user_uploads
/node_modules
/.idea
/.env
